@{
    ViewData["Title"] = "Home";
}

<div class="text-center">
    <h1 class="display-4">Welcome!</h1>
    <p>GamesStore is an online store intented for everyone - casual gamers, pros or gaming enthusiasts </p>
    <a class="btn btn-dark" style="margin-top: 2%; padding:1%" asp-controller="Game" asp-action="Index">Let's get started</a></p>
</div>
